asgiref==3.5.0
backoff==1.11.1
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
crispy-bootstrap5==0.6
cryptography==36.0.2
dj-database-url==0.5.0
Django==4.0.3
django-cookies-samesite==0.9.0
django-crispy-forms==1.14.0
django-heroku==0.3.1
geographiclib==1.52
geopy==2.2.0
gunicorn==20.1.0
idna==3.3
opencage==2.0.0
Pillow==9.1.0
psycopg2==2.9.3
pycparser==2.21
pyOpenSSL==22.0.0
requests==2.27.1
sqlparse==0.4.2
tzdata==2022.1
ua-parser==0.10.0
urllib3==1.26.9
whitenoise==6.0.0
