{% extends 'base.html' %}

{% block content %}
<title>{{title}}</title>
<div class="card bg-dark text-white">
    <img src="https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cGFydHl8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60" class="card-img" alt="About Image">
    <div class="card-img-overlay">
      <h5 class="card-title">Events Handlers</h5>
      <p class="card-text">At this website we post various events heppening and going to happen in various places across the India.<br>You can see the events and can Register if u want by going to their site registration page.</p>
      <!-- <p class="card-text">Last updated 3 mins ago</p> -->
    </div>
</div>

{% endblock %}